# The port your Spring Boot server should run on
SERVER_PORT=

# Cassandra database configuration
CASSANDRA_CONTACT_POINTS=
CASSANDRA_PORT=
CASSANDRA_DATACENTER=
CASSANDRA_KEYSPACE=

# OSRM service URL (routing engine)
OSRM_BASE_URL=

# Nominatim service URL (geocoding)
NOMINATIM_SEARCH_URL=